.contactsContainer {
    padding: 40px 20px;
    margin: 0 auto; /* 가운데 정렬을 위해 양옆 마진을 auto로 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    text-align: center;
  }
  
  .contactsTitle {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contactsContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contactItem {
    flex: 1;
    margin: 20px;
    max-width: 400px;
  }
  
  .contactItem img {
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .contactItem a, .contactItem p {
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
  }
  
  .contactItem a:hover {
    text-decoration: underline;
  }
  
  /* 모바일 스타일 */
  @media (max-width: 767px) {
    .contactsContainer {
      padding: 20px;
      margin: 0 10px; /* 모바일에서는 양옆 마진을 줄임 */
    }
    .contactItem {
      margin: 10px 0; /* 모바일에서는 아이템 간의 간격을 줄임 */
      max-width: 100%; /* 모바일에서 전체 너비 사용 */
    }
    .contactItem img {
      width: 60px;
      height: 30px; /* 아이콘 크기를 줄여서 공간 확보 */
    }
  }
  