.philosophyContainer {
    padding: 30px 15px;
    max-width: 1200px;
    margin: 0 auto; /* 컨테이너를 가운데 정렬 */
  }
  
  .philosophyTitle {
    text-align: center; /* 제목을 가운데 정렬 */
    margin-bottom: 20px;
    font-size: 2rem;
    margin-bottom :100px;
  }
  
  .philosophyContent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; /* 콘텐츠를 수평으로 가운데 정렬 */
  }
  
  .imageBox {
    flex: 1;
    margin-right: 20px;
  }
  
  .imageBox img {
    width: 100%;
    height: auto;
  }
  
  .textBox {
    flex: 2;
  }
  
  .textContainer {
    margin-bottom: 20px;
  }
  
  .textContainer div {
    margin-bottom: 10px;
  }
  
  /* 태블릿 및 모바일 스타일 */
  @media (max-width: 1023px) {
    .philosophyContent {
      flex-direction: column;
      align-items: center;
    }
  
    .imageBox {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .textBox {
      text-align: center;
    }
  }
  
  @media (min-width: 1024px) {
    .philosophyContainer {
      display: flex;
      flex-direction: column; /* 열 방향으로 정렬 */
      align-items: center; /* 중앙 정렬 */
    }
  
    .imageBox {
      width: 100%; /* 이미지를 가로 폭 전체로 설정 */
      max-width: 500px; /* 이미지의 최대 너비 설정 */
      margin-bottom: 20px; /* 이미지와 텍스트 사이에 간격 추가 */
    }
  
    .textBox {
      width: 100%; /* 텍스트 박스를 가로 폭 전체로 설정 */
      text-align: left; /* 텍스트 중앙 정렬 */
      font-size: 1.2rem;
    }
  }
  
  /* 모바일 및 태블릿 스타일 */
  @media (max-width: 1023px) {
    .philosophyContainer {
      max-width: 100%;
      padding: 0;
    }
  
    .imageBox {
      width: 100%; /* 이미지를 화면 폭에 맞춤 */
    }
  
    .textBox {
      width: 100%;
      padding: 0;
      text-align: left;
    }
  }
  