.policyContainer {
    padding: 40px 20px;
    text-align: center;
    
  }
  
  .policyTitle {
    font-size: 30px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 30px;
  }
  
  .policyContent {
    max-width: 780px;
    margin: 0 auto;
    text-align: left;
  }
  
  .policyContent ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .policyContent li {
    font-size: 18px;
    line-height: 1.8;
    color: #3D3D3D;
    margin-bottom: 10px;
  }
  

  @media (max-width: 1024px){
    .policyTitle {
      font-size: 20px;
      font-weight: 300;
      margin-top: 70px;
      margin-bottom: 20px;
    }
    
  }