.pageContainer {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 870px;
  }
  
  .reviewHeader {
    margin-top: 200px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .reviewHeader h2 {
    font-size: 25px;
    margin: 100px 0 20px 0; 
    position: relative;
  }
  
  .reviewHeader h2::before {
    content: "Review";
    display: block;
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
  }
  
  .reviewHeader h2::after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background: #666;
    margin: 10px auto 0;
  }
  
  .reviewContent {
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 20px;
  }
  
  .reviewImages {
    margin-top: 20px;
  }
  
  .reviewImages img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  @media screen and (max-width: 768px) {
    .pageContainer {
      width: 90%;
    }
    
    .reviewTitle {
      font-size: 1.5em;
    }
  }
  
/* 버튼 스타일 */
.navigation {
  display: flex;
  flex-direction: column; /* 세로 방향으로 버튼 배치 */
  align-items: left;
  gap: 3px; /* 버튼 사이에 간격 추가 */
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.btnList {
  padding: 10px 20px;
  border: 2px solid black; /* 검은 테두리 */
  background-color: white; /* 기본 흰색 배경 */
  color: black; /* 검은 텍스트 */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* 색상 전환 애니메이션 */
}

.btnList:hover {
  background-color: #9f9f9f; /* 회색 배경 */
  color: white; /* 흰색 텍스트 */
}

/* 다음글, 이전글 버튼 스타일 */
.btnNav {
  padding: 10px 15px;
  border: none; /* 테두리 제거 */
  background-color: transparent; /* 투명한 배경 */
  color: #333; /* 기본 텍스트 색상 */
  cursor: pointer;
  text-align: left; /* 텍스트 왼쪽 정렬 */
  transition: color 0.3s ease; /* 색상 전환 애니메이션 */
}

.btnNav:hover {
  color: #666; /* 마우스를 올렸을 때 텍스트 색상 변경 */
}

/* navigation 섹션에 margin 추가 */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; /* 버튼 사이 간격 */
  margin-top: 20px;
}

.btn:hover {
  background-color: #ffffff;
}
  