.contacts-container {
    padding: 40px 20px;
    margin: 0 300px; /* 양옆에 마진 추가 */
    text-align: center;
  }
  
  .contacts-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .contacts-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-item {
    flex: 1;
    margin: 20px;
    max-width: 400px;
  }
  
  .contact-item img {
    width: 80px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .contact-item a, .contact-item p {
    font-size: 0.9em;
    color: #555;
    text-decoration: none;
  }
  
  .contact-item a:hover {
    text-decoration: underline;
  }
  