/* src/pages/Home.css */

.no-margin {
    margin: 0 !important;
  }
  
  .visual_section {
    /* Home 섹션에 추가적인 스타일을 적용할 수 있습니다 */
  }
  
  .banner {
    position: relative;
    text-align: center;
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  .banner-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
  }
  
  .line img {
    width: 100%;
    height: auto;
  }
  