/* Philosophy.css */

.philosophy-container {
  padding: 30px 15px;
  max-width: 1200px;
  margin: 0 auto; /* 컨테이너를 가운데 정렬 */
}

.philosophy-title {
  text-align: center; /* 제목을 가운데 정렬 */
  margin-bottom: 20px;
  font-size: 2rem;
}

.philosophy-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; /* 콘텐츠를 수평으로 가운데 정렬 */
}

.image-box {
  flex: 1;
  margin-right: 20px;
}

.image-box img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.text-box {
  flex: 2;
}

.text-container {
  margin-bottom: 20px;
}

.text-container div {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .philosophy-content {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-box {
    text-align: center;
  }
}
